*{
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 18px;
    color: black;
    text-decoration: none;
}
body{
    margin: 0;
    background: white;
    
}
p{
    margin-left: 10%;
    margin-right: 10%;
}
#header{
    position: fixed;
    background:#DCE7AB;
    opacity: 0.7;
    width: 100%;
    height: 120px;
    top: 0;
    z-index: 1;
    
    
}
#header ul{
    display: flex;
    justify-content: space-around; 
}
#header li{
    margin-top: 35px;
    list-style-type: none;
    text-transform: uppercase;
    font-weight: 600;
    flex-direction: row;
    flex-wrap: nowrap;
    
    font-size: 18px;
    cursor: pointer;
    justify-items: baseline;
}
#header li:hover{
    color: #726E6E;
}
#header img{
    margin-right: 15px;
}

button{
    background: #DCE7AB;
    color: #726E6E;
    font-weight: 100;
}
.img{
    margin-bottom: 20px;
}
.nav{
    text-transform: uppercase;
    margin-bottom: 40px;
    margin-top: 45px;
    font-weight: 500;
    font-size: 18px;
    color: black;
    margin-left: 10%;
    display: grid;
    grid-template-columns: 70px auto;
    column-gap: 10px;
    
    
}
.container-welcome .img{
    position: absolute;
    width: 100%;
    height: auto;
}
.container-welcome button{
    position: absolute;
    top: 110%;
    left: 15%;
    border: none;
    border-radius: 70px;
    width: 20%;
    height: auto;
    padding: 20px;
    font-weight: 500;
    align-content: center;
    align-items: center;
    
    cursor: pointer;
    align-self: center;
}
.container-welcome button:hover{
    background: white;
}
.container-welcome p{
    position: absolute;
    top: 25%;
    right: 40%;
    font-style: italic;
    padding: 30px;
    font-size: 20px;
}
.container{
    background: white;
    width: 100%;
    height: auto;
}
#container-we-are{
    position: absolute;
    top: 1000px;
    width: 100%;
}
#container-we-are .right{
    position: absolute;
    left: 38%;
    top: 0%;
    z-index: -1;
    opacity: 0.7;
}
#container-we-are .left{
    position: absolute;
    left: 10%;
    top: 140%;
    

}
#container-we-are .par{
    margin-top: 60px;
    z-index: 1;
}
#container-we-are span{
    font-weight: 600;
    font-style: italic;
}
.yoga{
    position: absolute;
    top:300%;
    
}

.yoga .left-yoga{
   position: relative;
   left: 10%;
   top: 10%;
}
.yoga .right-yoga{
    position: relative;
    left: 17%;
    top: 20%;
}
.hand {
   margin-left: 10%;
   display: grid;
   grid-template-columns: 50px auto;
   
}
.hand img{
   position: relative;
   margin-top: 35px; 
}
.dog-one{
    position: relative;
    margin-left: 5%;
    display: grid;
    grid-template-columns: 400px auto;
    column-gap: 10%;
}
.dog-two{
    position: relative;
    margin-left: 5%;
    margin-top: 5%;
    display: grid;
    grid-template-columns:  auto 400px;
    column-gap: 10%;
    margin-bottom: 10%;
}
#food{
    position: absolute;
    top: 490%;
    width: 100%;
}
.food-animation{
    margin-left: 20px;
    margin-top: 60px;
    display: grid;
    grid-template-columns: auto 300px auto;
    column-gap: 10%;

}
.food-animation .vegan{
   
}

.tea-animation{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: auto 450px ;
    column-gap: 10px;

}
#tea .par{
    width: 70%;
}
#tea .grid{
    margin-left: 60px;
    margin-right: 20%;
    display: grid;
    grid-template-columns: 70% auto;
}
#tea .grid img {
    opacity: 0.8;
}
#tea .grid .heap{
    margin-left: 20%;
}
#tea .grid-plant{
    margin-top: 40px;
    margin-left: 20%;
    margin-right: 20%;
    display: grid;
    grid-template-columns: 50% auto;
    opacity: 0.8;
}
.gallery-container{
    background: #DCE7AB;
    height: 80%;
    width: 100%;
}
.gallery-container .up{
    position: relative;
    top: 20px;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.gallery-container .slides{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.gallery-container .slides .btn:hover{
    cursor: pointer;
}
.gallery-container button{
    margin-top: 30px;
    background:#726E6E;
    color: white;
    font-weight: 300;
    border: none;
    
    padding: 1%;
    border-radius: 40px;
    margin-left: 40%;
    margin-bottom: 35px;
}
.gallery-container button:hover{
    background: white;
    color: #726E6E;
    opacity: 0.8;
}
#hour-address{
    margin-right: 10%;
}
#hour-address span{
    font-weight: 500;
}
#hour-address .follow p{
    font-weight: 500;
}
#hour-address ul{
    list-style-type: none;
}

#hour-address .follow{
    font-weight: 500;
}
#hour-address ul{
    position: relative;
    display: flex;
    flex-direction: row;
    margin-left: 110px;
}
#hour-address ul li{
    margin-right: 10%;
    cursor: pointer;
}
#hour-address ul li:hover{
    font-weight: 500;
}
#hour-address ul li svg{
    margin-left:10px;
}
#hour-address .left-right-container{
    display: grid;
    grid-template-columns: auto 650px;
    column-gap: 5%;
    
}
#hour-address .right-map{
    display: flex;
    align-items: center;
    
}
#hour-address .right-map img{
    cursor: pointer;
}
#hour-address .map{
    cursor: pointer;
    
}
#hour-address .map:hover{
    font-weight: 500;
}
button:hover{
    cursor: pointer;
}
#hour-address .author-par{
    margin-top: 100px;
    font-size: 16px;
    opacity: 0.9;
    text-align: center;
}